network:
    version: 2
    ethernets:
        switchports:
            match: { name: "{{ openvpn_dev }}*" }
    bridges:
        br-tap:
            interfaces: [switchports]
            addresses: [{{openvpn_bridge.cidr}}]
            dhcp4: no
            dhcp6: no
            parameters:
                stp: false
{% if openvpn_bridge and openvpn_bridge.static_routes %}
            routes:
{% for route in openvpn_bridge.static_routes %}
                - to:  {{route.to}}
                  via: {{route.via}}
{% endfor %}
{% endif %}
